/* Section container */
#about {
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--backgrounds);
  color: #ffffff;
}

/* Title styling */
#about h2 {
  font-size: 1.875rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: var(--text-hc);
}

/* Paragraph styling */
#about p {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: var(--text-in);
}

.color {
  color: var(--text-lc);
  font-weight: 500;
  font-style: italic;
}
#about .content {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 767px) {
  #about {
    height: 100vh;
  }
  #about p {
    line-height: 1.5rem;
  }
}
@media (max-height: 933px) {
  #about {
    justify-content: space-evenly;
  }
}
@media (max-height: 762px) {
  #about {
    justify-content: center;
  }
}
